 <div class="card card-inverse" [ngStyle]="{backgroundColor: nota.categoria.color}">
    <div class="card-header">{{nota.titulo}}</div>

    <div class="card-block">
      <p>{{nota.descripcion}}</p>
    </div>
    <div class="card-block">
      <span><p>{{nota.categoria.nombre}}</p></span>
    </div>
    <div class="centrar">
      <i class="material-icons" (click)="editar(nota)">mode_edit</i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="material-icons" (click)="borrar(nota)">delete</i>
      </div>
  </div>

